*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.background{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    min-width: 30vw;
    min-height: 50vh;
 border:2px solid black; 
 background-color: rgb(95, 6, 95);
 border-radius: 20px;  
}



#display{
  background-color: hsl(0, 0%, 15%);
  text-align: left;
  font-size: 30px;
    border: 4px solid black;
    width: 35vw;
    height: 18vh;
    border-radius: 20px;  
    color:white;
    

}

/* #display input{
    text-align: right;
    flex-direction: row;
} */


.keys{
    margin-top: 20px;
    width: 30vw;
    height: 50vh;
}

.first-row{
    margin-top: 2px;
    min-height: 8vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr );


}
.first-block>.bblocker{
   display: flex;
    align-items: center;
    justify-content: center;
   width: 6vw;
     min-height: 8vh;
    background-color: rgb(103, 71, 111); 
    border: 3px solid rgb(95, 6, 95);

}


.nd-row{
    margin-top: 10px;
    min-height: 6vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr );

}

.nd-block>.bb{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 6vw;
     min-height: 8vh;
    background-color: rgb(132, 1, 164);


}

.nd-blocker>.bblock{
    
    display: flex;
    align-items: center;
    justify-content: center;
   width: 6vw;
    min-height: 8vh;
   background-color: rgb(103, 71, 111);
}

.third-row{
     margin-top: 10px;
    min-height: 8vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr );

}

.third-block>.bb{
    
    display: flex;
    align-items: center;
    justify-content: center;
   width: 6vw;
     min-height: 8vh;
    background-color: rgb(132, 1, 164);

}

.third-blocker>.bblocker{
    
    display: flex;
    align-items: center;
    justify-content: center;
border: none;
   width: 6vw;
    min-height: 8vh;
   background-color: rgb(103, 71, 111);  

}

.forth-row{
    margin-top: 10px;
    min-height: 8vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr );

}

.forth-block>.bb{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 6vw;
     min-height: 8vh;
    background-color: rgb(132, 1, 164);

}
.forth-blocker>.bblocker{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 6vw;
    min-height: 8vh;
    background-color: rgb(103, 71, 111);  

}
.fifth-row{
   margin-top: 10px;
    height: 8vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr );

}

.fifth-block>.bb{
    display: flex;
    align-items: center;
    justify-content: center;
     border: px solid pink;
   width: 6vw;
    min-height: 8vh;
    background-color: rgb(132, 1, 164);
   

}

.fifth-blocker >.bblocker{
  display: flex;
    align-items: center;
    justify-content: center;
     border: 3px solid pink;
   width: 6vw;
    min-height: 8vh;
    background-color: rgb(103, 71, 111);  
}

.bb{
    font-size: 35px;
    color:rgb(244, 226, 248);
    font-weight: bolder;
    border: none;
}



.bb:hover{
    background-color: hsl(292, 41%, 25%);
}

.bb:active{
      background-color: hsl(292, 41%, 55%);
}

@media(max-width:750px){
    .background{
         min-width: 70vw;
    min-height: 30vh;
    margin: 2px;
    }


    #display{
        min-width: 60vw;
    }
    /* .first-block>.bblocker{
        min-width: 10vw;
    } */
   
   p{
 font-size:20px;
}
}

@media(max-width:420px){
   p{
 font-size:15px;
}
}